include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include USAGE.rst
include NOTICES.rst
include requirements*.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include tests *
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include ecs_composex *spec.json *perms.json
