version: "3.8"
x-rds:
  dbA:
    Lookup:
      cluster:
        Name: database-1
        Tags:
          - serverless: "True"
      secret:
        Name: secret/with/kmskey
        Tags:
          composexdev: "yes"
          costcentre: lambda
    Services:
      app03:
        ReturnValues:
          Endpoint.Address: DBA_HOSTNAME
    Settings:
      SecretsMappings:
        Mappings:
          - SecretKey: host
            VarName: DB_HOST
        PrefixWithDbName: DBA
