version: "3.8"
x-cloudmap:
  private:
    Name: testing.cluster
x-rds:
  dbA:
    Lookup:
      cluster:
        Name: database-1
        Tags:
          - serverless: "True"
      secret: &secret
        Name: secret/with/kmskey
        Tags:
          composexdev: "yes"
          costcentre: lambda
    Services:
      app03:
        ReturnValues:
          Endpoint.Address: DBA_HOSTNAME
    Settings:
      SecretsMappings:
        Mappings:
          - SecretKey: host
            VarName: DB_HOST
        PrefixWithDbName: DBA
      x-cloudmap: private
  dbB:
    Lookup:
      cluster:
        Name: database-1
        Tags:
          - serverless: "True"
      secret: *secret
    Services:
      app03:
        ReturnValues:
          Endpoint.Address: DBB_HOSTNAME
    Settings:
      SecretsMappings:
        Mappings:
          - SecretKey: host
            VarName: DB_HOST
        PrefixWithDbName: DBA
      x-cloudmap:
        DnsSettings:
          Hostname: db
        ForceRegister: true
        Namespace: private
        ReturnValues:
          DBClusterArn: ClusterArn
