version: "3.8"
x-rds:
  dbA:
    MacroParameters:
      Engine: aurora-postgresql
      EngineVersion: "14.6"
      Instances:
        - DBAllocatedStorage: 50
          DBInstanceClass: db.m5a.large
    Services:
      app01:
        Access:
          DBCluster: RO
      app03:
        Access:
          DBCluster: RO
      youtoo:
        Access:
          DBCluster: RO
  dbB:
    Properties:
      BackupRetentionPeriod: 1
      DatabaseName: dbname
      DeletionProtection: false
      EnableCloudwatchLogsExports:
        - audit
        - general
      EnableHttpEndpoint: true
      EnableIAMDatabaseAuthentication: true
      Engine: aurora-postgresql
      EngineVersion: "14.6"
      MasterUserPassword: dummy
      MasterUsername: dummy
      Port: 5432
      StorageEncrypted: true
      Tags:
        - Key: Name
          Value: dummy-db
    Services:
      app01: null
      app03:
        Access:
          DBCluster: RO
        ReturnValues:
          Endpoint.Port: DB_B_PORT
      youtoo:
        Access:
          DBCluster: RO
  dbC:
    MacroParameters:
      Engine: aurora-postgresql
      EngineVersion: "14.6"
      ParametersGroups:
        Description: CloudFormation Sample Aurora Parameter Group
        Family: aurora5.6
        Parameters:
          innodb_buffer_pool_size: "{DBInstanceClassMemory*3/4}"
          max_allowed_packet: 1024
          sql_mode: IGNORE_SPACE
    Services:
      app01:
        Access:
          DBCluster: RO
      app03:
        Access:
          DBCluster: RO
      youtoo:
        Access:
          DBCluster: RO
